@import colors
@import variables

.top-menu
  background-color: $background-light
  border-bottom:    2px solid $border
  display:          flex
  padding:          $padding-small $padding

.top-menu-separator
  flex-grow: 1
