@import colors
@import variables

.top-menu
  background-color: $background-light
  border-bottom:    2px solid $border
  display:          flex
  padding:          $padding-small $padding

.top-menu-separator
  flex-grow: 1

.top-menu-link
  color:   $text-light
  padding: 0 $padding-tiny
  display: none

  @media (min-width: $breakpoint-tiny)
    display: inline-block
